:root {
    --main-border-radius: 20px;
}

body {
    background-color: rgb(145, 124, 220);
}

.nametag {
    height: 280px;
    width: 475px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--main-border-radius);
    background-color: white;
}

.top,
.bottom {
    background-color: red;
    width: 100%;
}

.top {
    border-radius: var(--main-border-radius) var(--main-border-radius) 0px 0px;
}

.name {
    font-family: cursive;
    font-size: 3rem;
    background-color: white;
}

.bottom {
    height: 35px;
    border-radius: 0px 0px var(--main-border-radius) var(--main-border-radius);
}

h1,
h2 {
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 900;
}

h2 {
    font-size: 2rem;
    font-weight: lighter;
}

#pink-button {
    background-color: pink;
}

#lightgreen-button {
    background-color: lightgreen;
}

#lightblue-button {
    background-color: lightblue;
}